<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>page not found</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li main-header__item> <a href="/">Shop</a></li>
                <li main-header__item class="active"> <a href="/admin/add-product">add-product</a></li>
            </ul>
        </nav>
    </header>
    <h1>
        PAGE NOT FOUND!
    </h1>
    <p>make sure you enter the correct url</p>
    <p>or contact the owners of this page</p>
</body>
</html>