body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #dbc441;
    padding: 0 1.5rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: black;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: blue;
}





/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.main-header{
    background: blue;
}

.main-header .main-header__nav{
    display: flex;
    align-items: center;
}

.main-header .main-header__item-list{
    display: flex;
}

.main-header .main-header__item{
    margin-right: 10px;
}

.main-header .main-header__item a{
    color: #fff;
}

.main-header .main-header__item a:hover,
.main-header .main-header__item a:active,
.main-header .main-header__item a .active{
    color: #ceb423;
}

main{
    padding: 10%;
}

.product__form{
    width: 20rem;
    max-width: 100%;
    margin: auto;
}

.from__control{
    margin: 1rem 0;
}

.from__control label,
.from__control input{
    display: block;
    width: 100%;
}

.from__control input{
    border: 1px solid #ceb423;
    font: inherit;
    border-radius: 3px;
}

button{
    font: inherit;
    border: 1px solid #ceb423;
    border-radius: 3px;
    background: #fff;
    color: #ceb423;
    cursor: pointer;
}

button :hover,
button :active{
    background: blue;
    color: #fff;
} */